.addsec {
  padding: 16px;
  background-color: #fff;
  border: 1px solid #f0f0f0;
  border-bottom: none;
}
.sortselect {
  min-width: 180px;
  max-width: 240px;
}
.sortrange {
  width: 100%;
}
.cardBox {
  background-color: #fff;
  border: 1px solid #f0f0f0;
  padding: 16px;
  .card {
    display: grid;
    grid-template-columns: repeat(auto-fill, 130px);
    gap: 16px;
    // justify-content: space-between;
    .product {
      width: auto;
      height: 150px;
      // width: 130px;
      .box {
        border: 1px dashed #000;
        width: 100%;
        height: 100%;
        position: relative;
        .img {
          min-width: 100%;
          min-height: 100%;
        }
        .status {
          width: 100%;
          line-height: 30px;
          text-align: center;
          position: absolute;
          bottom: 0;
          background-color: #000;
          color: #fff;
          font-size: 14px;
        }
        .close {
          position: absolute;
          right: 0px;
          top: 0px;
          font-size: 20px;
          background-color: #000;
          width: 20px;
          height: 20px;
          cursor: pointer;
          display: none;
          .icon {
            font-size: 14px;
            color: #fff;
          }
        }
        &:hover {
          .close {
            display: flex;
          }
        }
        &.boxDel {
          border: 2px solid red;
        }
      }
    }
    .empty {
      margin: 0;
      padding: 32px 0;
      width: 100%;
    }
  }
}
