.top {
  height: 100%;
  .cache-list {
    padding-left: 20px;
    .cache {
      padding: 5px 10px;
    }
  }
  .left {
    height: 100%;
    padding-left: 20px;
    .logo {
      height: 28px;
    }
    .menu {
      font-size: 18px;
      padding: 0 0 0 16px;
      cursor: pointer;
      transition: color 0.3s;

      &:hover {
        color: #1890ff;
      }
    }
  }
  .right {
    height: 100%;

    .head {
      cursor: pointer;
      padding: 0 20px;
      height: 100%;
      margin: 0;
      transition: all 0.3s;

      .face {
        margin-right: 6px;
      }

      .user {
        font-size: 14px;
      }

      &:hover {
        background: rgba(0, 0, 0, 0.025);
      }
    }
  }
}

.downmenu {
  margin: 0;
}

.themetitle {
  width: 100%;
  background-color: #fff;
  padding: 12px 20px 16px 20px;

  .title {
    font-size: 20px;
    margin: 12px 0 4px 0;
  }

  .introduce {
    line-height: 22px;
    padding-top: 12px;
    margin: 0;
  }
}
