.sort {
    padding: 24px 24px 8px 8px;
    background-color: #fff;
    margin-bottom: 20px;
    .sortinput {
        min-width: 180px;
        max-width: 240px;
        margin: 0 0 16px 16px;
        flex: 1;
    }
    .sortrange {
        min-width: 360px;
        max-width: 420px;
        margin: 0 0 16px 16px;
        flex: 1;
    }
    .line {
        width: 100%;
    }
    .sortctrl {
        margin-right: 0;
        flex: 1;
        margin-bottom: 16px;
        margin-left: 16px;
    }
}
@media screen and (max-width: 575px) {
    .sort {
        .sortinput {
            max-width: none;
        }
        .sortrange {
            min-width: max-content;
        }
    }
}