.baseinfo {
    font-size: 14px;
    line-height: 28px;
}

.add {
    padding: 16px;
    background-color: #fff;
}
.addsec {
    padding: 16px;
    background-color: #fff;
    border: 1px solid #f0f0f0;
    border-bottom: none;
}