.login {
    // height: 100%;
    width: 100%;
    padding: 220px 20px 0;
    .info {
        .title {
            font-size: 40px;
            font-weight: bold;
        }
        .logo {
            height: 88px;
            margin-bottom: 12px;
            img {
                height: 100%;
            }
        }
        .introduce {
            margin-bottom: 50px;
            font-size: 14px;
            text-align: center;
        }
    }
    .content {
        width: 100%;
        max-width: 370px;
        // margin-bottom: 250px;
        .input {
            // margin-bottom: 20px;
        }
        .button {
            margin-top: 20px;
        }
    }
}


.unusual {
    position: absolute;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 575px) {
    .login {
        padding-top: 20%;
    }
}