.logo {
  height: 100px;
  padding: 20px;
  img {
    height: 100%;
  }
}
.header {
  background-color: #fff;
  padding: 0 0px;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
  position: relative;
  height: 48px;
  line-height: 48px;
}

.sider {
  // min-height: 100vh;
  overflow: auto;
  height: 100vh;
  position: fixed;
  left: 0;
}

.navLayout {
    margin-left: 200px;
}

.content {
  margin: 20px;
  // background-color: #fff;
}
.footer {
  text-align: center;
}
.layout {
  background-image: url("../assets/images/layout_bg.svg");
  background-repeat: no-repeat;
  background-position: center 110px;
  background-size: 100%;
  height: 100vh;
}
